.categories {
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: 100vh;
  width: clamp(180px, 20vw, 290px);
  padding: 24px 15px 0;
  text-align: center;
  overflow-y: auto;
  background-color: #fafafa;
  border: 1px solid grey;
  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
  }
  &__item {
    padding: 8px;
    border-radius: 5px;
    transition: background .5s;
  }
  &__link {
    color: inherit;
  }
}

.categories__item ._active {
  background: #ececec;
}

.categories__item:hover {
  background: #ececec;
}
