@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'ui-kit/custom-checkbox';
@import 'categories';
@import 'todo';
:root {
  --header-height: clamp(50px, calc(10px + 5vmax), 90px)
};


.header {
  height: var(--header-height);
  width: 100%;
  padding: 15px;
  position: fixed;
  &__logo {
    height: 100%;
    border-radius: 20px;
    margin-left: 12px;
  }
}

 .main {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   margin-left: clamp(180px, 20vw, 290px);
   margin-top: var(--header-height);
 }

