@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'ui-kit/custom-checkbox';
:root {
  --header-height: clamp(40px, calc(10px + 5vmax), 90px)
};


.header {
  height: var(--header-height);
  padding: 15px;
  background-color: rgba(50, 173, 217, .6);
  z-index: 1;
  &__logo {
    height: 100%;
    border-radius: 20px;
    margin-left: 12px;
  }
}


.categories {
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: 100vh;
  width: 270px;
  padding: 24px 15px 0;
  text-align: center;
  overflow-y: auto;
  background-color: #fafafa;
  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
  }
  &__item {
    padding: 8px;
    border-radius: 5px;
    transition: background .5s;
    &._active {
      background: #ececec;
    }
    &:hover {
      background: #ececec;
    }
  }
  &__link {
    color: inherit;
  }
}
 .todo {
   margin: 0 auto;
 }

 .main {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   margin-left: 270px;
 }

